*{
    box-sizing: border-box;
}

body{
    background-color: #F8F8F8;
}

nav {
    margin-top: -10px;
    padding-top: 25px;
    height: 65px;
    background-color: white;
    color: black;
    position: relative;
    font-size: 10px;
}
.navigation {
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;
}

.links {
    width: 50%;
    float: left;
}

span {
    margin: 10px;
    font-weight: bold;
}

.social_media {
    text-align: right;
    float: right;
    width: 50%;
}

.social_media i {
    margin-left: 10px;
    color: black;
}

.container {
    margin: 30px auto;
    width: 75%;
    max-width: 1000px;
    background-color: red;

}

.company-logo img {
    display: block;
    margin: 40px auto;
    text-align: center;

}

.blog_name {
    text-align: center;
    padding: 40px;
}

.blog_posts {
    float: left;
    width: 68%;
    background-color: pink;
}

.blog-post img {
    width: 100%;
}

.blog-post {
    clear: both;
}

.blog-post .category {
    color: red;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.post-content{
    padding: 30px;
}

.post-content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.post-content p {
    font-size: 13px;
    line-height: 18px;
}

.post-content button {
    border: 1px solid red;
    text-align: center;
    text-transform: uppercase;
}

.align-center {
    text-align: center;
}

.side_post {
    float: right;
    background-color: cornflowerblue;
    width: 30%;
    height: 100%;
}

.clearfix {
    clear: both;
}

footer {
    float: left;
    width: 100%;
    height: 50px;
    background-color: black;
}

.pages {
    font-size: 13px;
    color: white;
    margin: 30px auto;
    width: 75%;
}

.copy_right {
    float: left;
    color: gray;
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
}
.copy_right span {
    color: red;
}